#figure {
	display: block;
	margin: auto;
}

#errorbox {
	margin: 0px 100px 0px 100px;
	
}

#error {
	display: block;
	margin: auto;
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 24px;
}

#errortext {
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 16px;
}

#container {
	width = 900px;
	height = 545px;
	position: absolute;
	top: 0;
	display: block;
	margin: auto;
}

#main_canvas,
#laptop {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#main_canvas {
	left: 130px;
	top: 50px;
	z-index: -1;
	background-color: #d9ecfb;
}

#errorbox {
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    text-align: left;
}